<div class="sidebar sidebar-left d-flex flex-row-auto flex-column" id="kt_sidebar">
    <!--begin::Aside Secondary Header-->
    <div class="sidebar-header flex-column-auto pt-5 pt-lg-19 pb-5 px-5 px-lg-10" kt-hidden-height="30" style="">
    </div>
    <!--end::Aside Secondary Header-->
    <!--begin::Aside Secondary Content-->
    <div class="sidebar-content flex-column-fluid pb-10 pt-9 px-5 px-lg-10" style="">
    </div>
    <!--end::Aside Secondary Content-->
</div>